<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand weathrify-brand" href="#">Weathrify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <% if user_signed_in? %>
        <form class="d-flex mx-auto" style="width: 50%;">
          <input 
            class="form-control me-2" 
            id="autocomplete-input" 
            type="search" 
            placeholder="Search city" 
            aria-label="Search" 
          >
        </form>
      <% end %>
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My favorite location
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% current_user.cities.each do |city| %>
                <li>
                  <%= link_to city.name, root_path(lat: city.lat, lng: city.lng, city: city.name), class: "btn" %>
                </li>
              <% end %>
              <% if current_user.cities.none? %>
                <li>
                  You don't have favorite location yet
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <%= button_to "Sign Out", session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
